.rotator {
	height: 415px;
	background: #9fc63f;
	clear: both;
	position: relative;
}

.rotator .prev{
	background: url(../images/backward.png);
	display:block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 50%;
	margin-top: -30px;
	left: 100px;

}

.rotator .next{
	background: url(../images/forward.png);
	display:block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 50%;
	margin-top: -30px;
	right: 100px;

}

.rotator .rotator-wrapper {
	width: 960px;
	height: 420px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.rotator ul {
	position: absolute;
	width: 2000em;
	top: 0;
}

.rotator li {
	float: left;
	width: 960px;
	height: 420px;
	position: relative;
}

.slide0, .slide1, .slide2 {
	background: url(../images/slide.png) left center no-repeat;
}

.slide0 div, .slide1 div, .slide2 div{
	color: #fff;
	font-size: 25px;
	line-height: 1.5em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 75px;
	width: 400px;
}

.content h2 {
	background: url(../images/bg_dash.png) bottom right repeat-x;
	font-size: 28px;
	padding: 40px 0;
	text-align: center;

}

.services {
	margin: 40px 0 50px 0;
	overflow: hidden;
}

.services li{
	float: left;
	margin-right: 75px;
}

.services li:last-child{
	margin-right: 0;
}

.services .disc-outer {
	background: #fff;
	border: 1px solid #dedede;
	width: 178px;
	height: 178px;
	margin-bottom: 18px;
	border-radius: 100%; 

}

.services .disc-inner {
	height: 140px;
	width: 140px;
	background: #9fc63f;
	margin: 19px; 
	border-radius: 100%; 
}

.services .disc-inner > .icon {
	background-repeat: no-repeat;
	background-position: center center;
	height: 140px;
	width: 140px;
}

.services .amazing {
	background-image: url(../images/amazing.png);
}

.services .hour {
	background-image: url(../images/24hour.png);
}

.services .web {
	background-image: url(../images/web.png);
}

.services .mobile {
	background-image: url(../images/mobile.png);
}

.services h3 {
	font-size: 24px;
	text-align: center;
	margin: 10px;
}

.services h5 {
	font-size: 14px;
	text-align: center;
}

.sub-header{
	background: url(../images/bg_dash.png) center repeat-x;
	clear: both;
	height: 20px;
	margin-bottom: 25px;
}

.sub-header h4{
	font-size: 20px;
	background: #f5f5f5;
	width: 275px;
	margin-left: 35px;
	padding-top: 4px;
}

.portfolio-item {
	border: 1px solid #ebebeb;
	float: left;
	width: 465px;
	margin-bottom: 25px;
	margin-right: 26px;
}

.portfolio-item:nth-child(2n+1) {
	margin-right: 0;	
}

.portfolio-item img{
	float: left;
	height: 148px;
	width: 227px;
	margin-right: 20px; 
}

.portfolio-item h5 {
	margin: 15px 0 10px 0;
	font-size: 14px;
}

.portfolio-item a {
	background: #9fc63f;
	color: #fff;
	text-decoration: none;
	padding: 3px 10px;
}

.portfolio-item p {
	margin-top: 15px;
	font-size: 12px;
	line-height: 1.5em;
}

.advertisers {
	clear: both;
}

.advertisers li {
	height: 131px;
	width: 160px;
	background-image: url(../images/adv_background.png);
	float: left;
}

.advertisers img {
	height: 131px;
	width: 160px;
	display: block;
}

.footer-content .archives li:nth-child(1n+2){
	
	background: url(../images/bg_dash.png) bottom right repeat-x;
	width: 198px;
	padding: 15px 0;
}

.footer-content .archives li:first-child{
	
	background: url(../images/bg_dash.png) bottom right repeat-x;
	width: 198px;
	padding-bottom: 15px;
}

.footer-content .archives li:last-child{
	width: 198px;
	padding-bottom: 15px;
}

.footer-content .archives a{
	text-decoration: none;
	color: #000;
	font-size: 12px;
}

.footer-content p {
	line-height: 1.5em;
	font-size: 12px;
}
